:root {
    --bacground-color: #2F8CAE;
    --font-size: 24px;
    --dark-color: #323635;
    --grey-color: #485464;
    --color: #12e62e;
    --a-color: #c4a113;
    --special-text-color: #ffbb00;
    --margin: 0;
    --padding: 0;
    --white-color: #ffffff;
    --dark-color: #5c5c5c;
    --font-general-size: 16px;
    --no-color: #5c5c5c00;
}

.body-general {
    background-color: var(--dark-color);
    text-align: center;
    min-height: 100vh;
    max-width: 100vw;
}

.header-general {
    text-align: center;
    min-height: 35vh;
    background: url('image_pano.jpg') fixed;
    background-repeat: no-repeat;
    background-size: auto 55%;
    text-align: center;
    max-width: 100vw;
}

.main-general {
    min-height: 60vh;
    max-width: 100vw;
    background-color: var(--dark-color);
    background: url('image_author.jpg') fixed no-repeat 0 50%, url('image_job.jpg') fixed no-repeat 50% 100%, url('image_evening.jpg') fixed no-repeat 99% 0;
        background-size: 34% 97%;
        text-align: end;
}

.footer-general {
    min-height: 5vh;
    max-width: 100vw;
    text-align: center;
    background-color: var(--grey-color);
}


@media (min-width: 1298px) {
    
    pre {
        font-size: var(--font-general-size);
    }
}

@media (max-width: 1297px) {
    
    pre {
        font-size: 0.9rem;
    }
}

@media (max-width: 1024px) {
    
    pre {
        font-size: 0.8rem;
    }
}

@media (max-width: 760px) {
    
    pre {
        font-size: 0.7rem;
    }
}

@media (max-width: 320px) {
    
    pre {
        font-size: 0.6rem;
    }
}

pre code:hover {
    color: var(--white-color);
    background-color: var(--dark-color);
    box-shadow: 4px 4px 4px 4px var(--dark-color), -4px -4px 4px 4px var(--dark-color);
    transition: all 0.5s;
}