<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="index.css">
    <link rel="icon" type="image/svg+xml" href="logo.svg" />
    <title>Docker inspect</title>
</head>

<body class="body-overal">
    <header class="header-overal">
        <select name="commonCommands" id="commonCommands"></select>
        <select name="overalCommands" id="overalCommands"></select>
        <select name="managementCommands" id="managementCommands"></select>
        <select name="swarmCommands" id="swarmCommands"></select>
        <select name="globalOptions" id="globalOptions"></select>
        <select name="editFiles" id="editFiles"></select>
        <select name="overalComposeCommands" id="overalComposeCommands"></select>
        <select name="composeOptions" id="composeOptions"></select>
    </header>
    <main>
        <pre>
            <code class="p">Usage:  docker inspect [OPTIONS] NAME|ID [NAME|ID...]</code>

            <code>Return low-level information on Docker objects</code>

            <code>Options:</code>
            <code class="i" title="Проверка, что том подключен к контейнеру">docker inspect nginx_with_volume | grep "Mounts"</code>
            <code>-f, --format string   Format output using a custom template:</code>
            <code class="i" title="Эти команды выведут IP-адреса контейнеров, которые можно использовать для связи между ними.">docker inspect -f '{{range .NetworkSettings.Networks}}{{.IPAddress}}{{end}}' container1</code>
            <code class="i" title="Эти команды выведут IP-адреса контейнеров, которые можно использовать для связи между ними.">docker inspect -f '{{range .NetworkSettings.Networks}}{{.IPAddress}}{{end}}' container2</code>
            <code>                        'json':             Print in JSON format</code>
            <code>                        'TEMPLATE':         Print output using the given</code>
            <code>                        Go template.</code>
            <code>                        Refer to https://docs.docker.com/go/formatting/</code>
            <code>                        for more information about formatting output with</code>
            <code>                        templates</code>
            <code>-s, --size            Display total file sizes if the type is container</code>
            <code>    --type string     Only inspect objects of the given type</code>
        </pre>
    </main>

    <footer></footer>
    <script src="index.js"></script>
</body>

</html>