:root {
    --white-color: #ffffff;
    --dark-color: #5c5c5c;
    --font-general-size: 16px;
}

@media (min-width: 1298px) {
    
    pre {
        font-size: var(--font-general-size);
    }
}

@media (max-width: 1297px) {
    
    pre {
        font-size: 0.9rem;
    }
}

@media (max-width: 1024px) {
    
    pre {
        font-size: 0.8rem;
    }
}

@media (max-width: 760px) {
    
    pre {
        font-size: 0.7rem;
    }
}

@media (max-width: 320px) {
    
    pre {
        font-size: 0.6rem;
    }
}

pre code:hover {
    color: var(--white-color);
    background-color: var(--dark-color);
    box-shadow: 3px 3px 3px 3px var(--dark-color), -3px -3px 3px 3px var(--dark-color);
    transition: all 0.5s;
}